* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0px;
}

header {
    background-color: #EAC926;
    size-adjust: 100%;
    padding: 20px 20px 0px 20px;
}

main {
    justify-content: center;
}

footer {
    background-color: white;
}

.logo {
    width: 180px;
}

.divBanner {
    margin: 0px;
}

.banner {
    width: 100vw;
}

.vista-ofertas {
    font-size: 24px;
    margin-left: 15px;
}

.publicaciones {
    background-color: white;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

.publicaciones div {
    border-top: solid 1px #ebebeb;
    line-height: 1px;
}

.img {
    width: 100%;
}

.fa-truck {
    color: #39b54a;
    justify-content: center;
    border: solid 1px #39b54a;
    border-radius: 100%;
    padding: 6px;
}

p {
    font-size: 12px;
}

.textoManito {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
    color: #39b54a;
}

h3 {
    font-size: 16px;
}

#soloDesk {
    display: none;
}

#icono {
    width: 100px;
    height: 100px;
}

.formatoMenu {
    list-style-type: none;
}

.formatoMenu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px;
    font-size: 17px;
}

.bot-navbar {
    display: none;
}

.botonDiv {
    text-align: center;
    margin: 20px;
}

.botonMenu {
    background-color: #1259c3;
    color: white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

#soloMobile {
    display: block;
}

footer div {
    text-align: center;
    line-height: 15px;
    padding: 0px 40px;
}

footer div i {
    size: 2em;
    color: #1259c3;
}

footer div p {
    color: #666;
}

@media (min-width: 600px) {
    .publicaciones {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .bot-navbar {
        display: block;
    }
    #soloMobile {
        display: none;
    }
}

@media (min-width: 810px) {
    .publicaciones {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .top-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bot-navbar {
        display:flex;
        justify-content: space-between;
    }
    .textoManito {
        max-width: 250px;
        text-align: right;
    }
    .formatoMenu {
        display: flex;
    }
    .formatoMenu li {
        margin: 4px;
    }
    #left-navbar {
        padding-left: 0px;
    }
}

@media (min-width: 1300px) {
    .top-navbar, .bot-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .textoManito {
        max-width: none;
    }
    .logo {
        width: 250px;
    }
}