body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    size-adjust: 100%;
}

footer {
    background-color: white;
}

.vista-ofertas {
    font-size: 24px;
}

p {
    font-size: 12px;
}

.textoManito {
    text-align: center;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
    color: #39b54a;
}

h3 {
    font-size: 16px;
}

#icono {
    width: 100px;
    height: 100px;
}

.formatoMenu {
    list-style-type: none;
}

.formatoMenu li a {
    text-decoration: none;
    color: black;
}

.botonDiv {
    text-align: center;
}

.botonMenu {
    background-color: #1259c3;
    color: white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

footer div {
    text-align: center;
    line-height: 15px;
    padding: 0px 40px;
}

footer div i {
    size: 2em;
    color: #1259c3;
}

footer div p {
    color: #666;
}